body{
    background-color:whitesmoke;
}

.top{
    align-items: center;
}

.log{
    background-color:#5951511a !important;
    height: 80%;
    margin-top: 8%;
}

.forget{
    background-color:whitesmoke !important;
    height: 60%;
    margin-top: 8%;
}
.active .menu-title{
  color:black !important;
}

.row-gap-10px{
  row-gap: 20px;
}

.active{
  background: white;
  margin-right: 12px;
  border-radius: .475rem;
}

.logo{
   margin-bottom: 10%;
 width: 80px;
 max-height: 50px;
 margin-left: -20%;

}

@media screen and (max-width: 320px) {
    .logo {
        margin-left: -5%;
        width: 60px;
    }
  }

  @media screen and (max-width: 320px) {
    .forget {
       height:50% !important ;
    }
  }
.common-header{
    padding-left: 0px !important;
  }
  .justify-content-center
  {
    margin-top: 20px;
  }
.app-header {
    z-index:100;
    position:fixed;
    left:0;
    right:0;
    top:0
  }
  #kt_app_toolbar_container{
    margin-top: 50px;
  }
  .field-icon {
  float: right;
  margin-right: 15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
 .ql-container{
    height: 4% !important;
  }
  .draft{
    background-color: orange !important;
    color: white;
  }
  .close{
    background-color: green !important;
    color: white;
  }
  .next,.preview{
    background-color: blue !important;
    color: white;
  }
  .timeline-label .timeline-item{
    margin-bottom: 4rem !important;
  }
.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.removeimage1{
    background-image: none !important;
}

/* Add this to your CSS stylesheet */
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: none;
    z-index: 9999; /* Make sure it's above other elements */
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.groupMedium{
    background-color: var(--kt-input-solid-bg);
    margin: 0px auto;
    padding: 10px 5px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

.groupMeasurements{
    margin: 0px auto;
    padding: 10px 25px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}
.image-input{
    width: 150px;
    height: 150px;
}
.input[type="text" i] {
  padding-block: 0px !important;
  padding-inline: 0px !important;
}

.flatpickr-calendar{
  width: auto !important;
}

#kt_accordion_media .dz-image img {
    width: 100% !important;
    height: 100% !important;
}
